body {
    margin: 0;
}

h1 {
    /* font-family: 'Fraunces', serif; */
    margin: 0;
    padding: 40px;
    text-align: center;
    background: rgb(68, 114, 120);
    background: linear-gradient(0deg, rgb(46, 77, 82) 0%, rgba(40, 72, 93, 1) 61%, rgba(29, 52, 83, 1) 100%);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
    color: #ffffff;
}

#all-content {
    /* padding: 0; */
    width: 100%;
    margin: auto;
    padding: 0;
    /* height: 500px; */
}

/* -------------- inputs ------------------- */
#task-input-container {
    padding: 20px;
    /* background-color: rgb(255, 254, 213); */
    /* border-right: 2px solid */
}






/* ----------- reformat ------------- */

.new-task-container {

    background: rgb(243, 243, 243);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    margin: 4px;
}

.task-container-min {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-container-front {
    display: flex;
    margin: 0;
    padding: 0;

}

.new-importance {
    padding: 4px 18px;
    background-color: #FFC107;
    color: white;
    font-size: 24px;
}

.task-container-front a {
    padding: 6px 8px;
}

.three-dots-icon {
    height: 20px;
}

.new-task-name {
    padding: 4px 10px 4px 4px;
    font-size: 24px;
    font-weight: 700;
}

.new-due-date {
    padding: 10px;
    color: rgb(108, 108, 108);
    font-weight: 200;
}

.task-container-back {
    padding-right: 20px;
}

#task-notes-1 {
    /* display: flex; */
    /* justify-content: space-between;
    align-items: flex-end; */
    border-top: 1px solid rgb(223, 223, 223);
    border-bottom: 1px solid rgb(223, 223, 223);
    padding: 10px 20px 10px 12%;
    background-color: white;

}

.task-notes-flex {
    display: flex;
}

.new-notes {
    padding: 0 10% 0 0;
}

.edit-btn {
    height: 30px;
    margin: 5px 0px;
}

.delete-btn {
    height: 40px
}

/* -------------- unfinished -------------- */

#task-display-container {
    /* background-color: rgb(255, 213, 213); */
    padding: 20px;
}

.title-and-add {
    display: flex;
    flex-direction: row
}

select {
    display: inline;
}

#task-display {
    margin: auto;
}

.task-display-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-container {
    display: flex;
    flex-direction: column;
    background: rgb(243, 243, 243);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin: 4px;
}

.task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.done-false {
    border-left: 10px solid red;
}

.done-true {
    border-left: 10px solid green;
}

.importance {
    font-size: .9em;
}

.task-name {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
}

.task-due-date {
    display: inline-block;
    text-align: right;
}

.task-notes {
    display: flex;
}

.notes-spacer {
    width: 40px;
}

.task-footer {
    text-align: right;
}


/* --------------- finished --------------- */

#tasks-complete-container {
    /* background-color: rgb(195, 247, 195); */
    padding: 20px;
}